// Variables
$font-sans: 'Gotham', sans-serif;
$font-mono: 'Monaco', monospace;

$font-book: 325;
$font-bold: 400;

$color-gray-200: #e3e3e3;
$color-gray-500: #666666;
$color-gray-800: #333333;
$rounded-radius: 8pt;

// Page styles
@import 'page';

// Components styles
@import 'components/typography';
@import 'components/callout';
@import 'components/codesplit';
@import 'components/table';
