// Page-scope style
@page {
  size: 7in 9.25in;
  margin-top: 15.875mm;
  margin-bottom: 15.875mm;
  -prince-margin-inside: 18mm;
  -prince-margin-outside: 17mm;

  bleed: 0.125in;
  -prince-trim: 0.125in;
  marks: crop cross;
}

@page chapter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
}

@page chapter:left {
  // Left Headers and Footers
  @top-left {
    font-family: $font-sans;
    font-weight: $font-book;
    font-size: 8pt;
    content: string(chapter-number);
    vertical-align: bottom;
    padding-bottom: 2em;
  }
  @bottom-left {
    font-family: $font-sans;
    font-weight: $font-book;
    font-size: 9pt;
    content: counter(page);
    padding-top: 2em;
    vertical-align: top;
  }
}

@page chapter:right {
  // Right Headers and Footers
  @top-right {
    font-family: $font-sans;
    font-weight: $font-book;
    font-size: 8pt;
    content: string(chapter-title);
    vertical-align: bottom;
    padding-bottom: 2em;
  }
  @bottom-right {
    font-family: $font-sans;
    font-weight: $font-book;
    font-size: 9pt;
    content: counter(page);
    text-align: right;
    vertical-align: top;
    padding-top: 2em;
  }
}

section[data-type='chapter'] {
  page-break-before: right;
  page: chapter;
  prince-page-group: start;
  string-set: chapter-title attr('data-title'),
    chapter-number attr('data-number');
}

section[data-type='page'] {
  page-break-before: always;
}

section[data-type='chapter'][data-number='Chapter 0'] {
  counter-reset: page 1;
}
