li{
list-style:lower-roman;
font-family: monospace;

font-size: 20px;
background-color: azure;
}
p{
    font-family: cursive;
    background-color: azure;
}
table  thead{
    font-family:'Times New Roman', Times, serif;
    background-color:antiquewhite;
    font-weight: bold;
}
table{
    font-family: cursive;
    font-weight: 200;
    background-color: azure;
}
section{
    background: linear-gradient(to left, #0099ff 0%, #ffffff 100%);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;


}
@media(max-width:1600px)
{
    body{
        width: 1400px;
    }
    img{
        width: 1200px;
    }
}
@media(max-width:1400px)
{
    body{
        width: 1400px;
    }
    img{
        width: 1000px;
    }
}
@media(max-width:1000px)
{
    body{
        width: 800px;
    }
   img{ width: 700px;
}
}
@media(max-width:700px)
{
    body{
        width: 500px;
    }
   img{ width: 400px;
}
}
@media(max-width:500px)
{
    body{
        width: 500px;
    }
    img{
        width: 300px;
    }
}
@media(max-width:300px)
{
    body{
        width: 300px;
    }
    img{
        width: 200px;
    }
}