span.highlight,
div[data-type='exercise'],
div[data-type='note'],
div[data-type='project'],
div[data-type='example'] {
  margin: 1.5em 0;
  page-break-inside: avoid;
}

span.highlight {
  display: block;
  padding-left: 12pt;
  border-left: 1pt solid black;
}

div[data-type='exercise'] {
  padding: 0 5mm;
  border-left: 1pt solid black;

  h3 {
    font-size: 8.5pt;
    margin: 0;
    display: flex;
    align-items: center;

    .icon {
      width: 12pt;
      margin-right: 4pt;
    }
  }
}

div[data-type='note'],
div[data-type='project'] {
  border: 1pt solid black;
  padding: 1em;
  border-radius: $rounded-radius;

  h3 {
    font-size: 8.5pt;
    margin: 0;
    display: flex;
    align-items: center;

    .icon {
      width: 15pt;
      margin-right: 4pt;
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}

div[data-type='example'] {
  border: 1pt solid black;
  background: #333;
  overflow: hidden;
  border-radius: $rounded-radius;

  h3 {
    font-size: 10pt;
    color: white;
    margin: 0.5em 1em;
  }

  figure {
    margin: 0;

    figcaption:not(:empty) {
      color: white;
      margin: 0.5em 1em;
    }
  }
}
