.chapter-opening {
  position: absolute;
  top: 0;
  bottom: 0;
  page-break-after: always;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .chapter-opening-header {
    margin: 0 5mm;
    display: flex;
    justify-content: space-between;

    .chapter-number {
      font-size: 144pt;
      line-height: 0.75;
    }

    .chapter-opening-title {
      margin-left: 12mm;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      text-align: right;

      h1 {
        margin-top: 0;
        font-size: 21pt;
      }

      blockquote {
        margin: 0;
      }

      p {
        margin: 0.25rem 0;
        font-style: italic;
      }
      
      .chapter-opening-quote-source{
        font-style:normal;
      }
    }
  }

  .chapter-opening-figure {
    h3 {
      margin: 12pt 5mm 6pt;
      font-size: 8pt;
    }

    p {
      margin: 6pt 5mm;
      font-size: 7pt;
      line-height: 10pt;
    }

    p.caption {
      font-size: 6pt;
      font-style: italic;
    }
  }
}
