.codesplit {
  font-size: 7.5pt;
  margin: 1.5em 0;

  .pair {
    background: $color-gray-200;
    padding: 2pt 1em;
    margin: 2pt 0;

    &:not(.no-comment) {
      border-left: 1pt solid black;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    .code {
      float: left;

      pre {
        margin: 0;
      }
    }

    .comment {
      float: right;
      width: 45%;

      p {
        margin: 0;
      }
    }
  }

  .code-wide {
    .code {
      width: 60%;
    }
    .comment {
      width: 38%;
    }
  }

  .no-comment {
    background: transparent;
    .code {
      width: 100%;
    }
  }

  .line-through {
    text-decoration: none;
    .code {
      text-decoration: line-through;
    }
  }

  .bold {
    font-weight: bold;
  }
}
