.frame-top {
  max-width: 100%;
  display: flex;
  justify-content: space-between;

  > img {
    height: 16pt;
    width: auto;
  }

  .middle {
    width: 0;
    flex-grow: 1;

    img {
      height: 16pt;
      width: 100%;
    }
  }
}

.frame-mid {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .column {
    display: flex;
    flex-direction: column;

    img {
      width: 1.5pt;
      height: 0;
      flex-grow: 1;
    }
  }

  .middle {
    width: 0;
    flex-grow: 1;
    margin-bottom: -6pt;

    img {
      width: 100%;
      z-index: 10;
      border-bottom-left-radius: 7pt;
      border-bottom-right-radius: 7pt;
      position: relative;
    }
  }
}

.frame-bottom {
  max-width: 100%;
  display: flex;
  justify-content: space-between;

  > img {
    height: 8pt;
    width: auto;
  }

  .middle {
    width: 0;
    flex-grow: 1;

    img {
      height: 8pt;
      width: 100%;
    }
  }
}
