table {
  width: 100%;
  page-break-inside: avoid;
  border-collapse: collapse;

  thead > tr {
    border-bottom: 1px solid $color-gray-200;

    th {
      text-align: left;
      font-size: 8pt;
      font-weight: $font-bold;
      padding: 4pt;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  tbody > tr {
    border-bottom: 1px solid $color-gray-200;

    &:last-child {
      border-bottom: none;
    }

    td {
      font-size: 8pt;
      font-weight: $font-book;
      padding: 4pt;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
