body {
  font-family: $font-sans;
  font-size: 8.5pt;
  line-height: 1.6;
  margin: 0;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 12pt;
}

h1,
h2,
h3 {
  clear: both;
}

h2,
h3 {
  page-break-after: avoid;
}

.katex-display > .katex {
  text-align: left;
}

code {
  font-family: $font-mono;
}

code:not(pre code) {
  display: inline-block;
  background-color: $color-gray-200;
}

pre {
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;

  // Internal and external links
  &[href]::after {
    content: ' (see page ' target-counter(attr(href), page) ')';
  }
  &[href^='http']::after {
    content: ' (' attr(href) ')';
  }
}

ol,
ul {
  margin: 0 3em;

  li {
    margin: 0.5em 0;
  }
}

figure {
  margin: 1.5em 0;
  page-break-inside: avoid;

  img {
    display: block;
    width: 100%;
    margin: 0;
  }

  figcaption:not(:empty) {
    margin-top: 4pt;
    color: $color-gray-500;
    font-size: 7pt;
  }
}

// floting figures
.half-width-right {
  float: right;
  margin: 1.2em 0 1.2em 2em;
  width: 50%;
}

.half-width-left {
  float: right;
  margin: 1.2em 2em 1.2em 0;
  width: 50%;
}

// column list
.col-list {
  display: flex;
  align-items: center;

  > * {
    flex: 1;
    margin-left: 2em;

    &:first-child {
      margin-left: 0;
    }
  }
}
