@import 'codesplit.css';
@import 'callout.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.half-width-right {
  @apply md:w-[50%] md:float-right md:ml-4 md:mt-0;
}

.math-display {
  @apply max-w-0;
}

.col-list {
  @apply md:flex md:gap-6;
}

.col-list > * {
  @apply flex-1;
}

@layer base {
  html {
    @apply overflow-y-scroll scroll-smooth;
  }

  h1,
  h2,
  h3 {
    @apply scroll-mt-28;
  }
}
