<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.title }}</title>
    {{ javascripts }}
    {{ stylesheets }}
  </head>
  <body data-type="book">
    <div class="container">
      {% include navigation.html %}
      <div id="toc-holder">
        <div id="toc-list">
          <ul>
            <li><a href="/book/">Welcome</a></li>
            <li><a href="/book/acknowledgments">Acknowledgments</a></li>
            <li><a href="/book/dedication">Dedication</a></li>
            <li><a href="/book/preface">Preface</a></li>
            <li><a href="/book/introduction">Introduction</a></li>
            <li><a href="/book/chapter-1-vectors">1.  Vectors</a></li>
            <li><a href="/book/chapter-2-forces">2.  Forces</a></li>
            <li><a href="/book/chapter-3-oscillation">3.  Oscillation</a></li>
            <li><a href="/book/chapter-4-particle-systems">4.  Particle Systems</a></li>
            <li><a href="/book/chapter-5-physics-libraries">5.  Physics Libraries</a></li>
            <li><a href="/book/chapter-6-autonomous-agents">6.  Autonomous Agents</a></li>
            <li><a href="/book/chapter-7-cellular-automata">7.  Cellular Automata</a></li>
            <li><a href="/book/chapter-8-fractals">8.  Fractals</a></li>
            <li><a href="/book/chapter-9-the-evolution-of-code">9.  The Evolution of Code</a></li>
            <li><a href="/book/chapter-10-neural-networks">10.  Neural Networks</a></li>
            <li><a href="/book/further-reading">Further Reading</a></li>
            <li><a href="/book/index">Index</a></li>
          </ul>
        </div>
      </div>
      {{ content }}
    </div>
  </body>
</html>
